html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  font-family: "Consolas";
  /*font-family: cursive;*/
  background-image: url('./corazon.jpg');
  background-color: white;
  background-size: 20px;
}

.header {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 56px;
  background-color: black;
  z-index: 50;
}
h1 {
  margin-top: 0;
}
button{
  z-index: 100;
}
input, select {
  text-align: center;
  width: 30%;
  height: 60%;
  font-size: 1.5rem;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.buscador {
  /*position: absolute;*/
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
  height: 8%;
  z-index: 100;
  top: 6%;
}
.contenido {
  position:absolute;
  background-color: rgba(255,255,255,0.9);
  top: 14%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.resultados {
  position: relative;
  width: 100%;
  text-align: center;
  font-family: cursive;
}
.item {
  position: relative;
  width: 25%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(255,255,255,0.5);
  margin: 10px;
  animation-name: entrada;
  animation-duration: 2s;
}
.item:hover {
  background-color: white;
  -webkit-box-shadow: 0px 6px 30px 0px rgba(50, 50, 50, 0.35);
  -moz-box-shadow:    0px 6px 30px 0px rgba(50, 50, 50, 0.35);
  box-shadow:         0px 6px 30px 0px rgba(50, 50, 50, 0.35);
}
.titulo {
  position: relative;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.imagen {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.precio {
  position: relative;
  width: 100%;
  text-align: center;
}
.link {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu{
  text-align: center;
  background-color: white;
  background-color: black;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 6%;
  top: 0%;
  display: flex;
  justify-content: center;
}
.item-menu{
  width: 50%;
  position: relative;
}
.boton-menu {
  background: #FF9A9A;
  background-image: -webkit-linear-gradient(top, #FF9A9A, #f0a6a6);
  background-image: -moz-linear-gradient(top, #FF9A9A, #f0a6a6);
  background-image: -ms-linear-gradient(top, #FF9A9A, #f0a6a6);
  background-image: -o-linear-gradient(top, #FF9A9A, #f0a6a6);
  background-image: linear-gradient(to bottom, #FF9A9A, #f0a6a6);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  /*border-radius: 28px;*/
  color: black;
  font-size: 2rem;
  /*margin: 10px;*/
  /*padding: 10px 20px 10px 20px;*/
  border: solid #FF1919 2px;
  text-decoration: none;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
}

.boton-menu:hover {
  background: #ed80be;
  background-image: -webkit-linear-gradient(top, #ed80be, #FA97CF);
  background-image: -moz-linear-gradient(top, #ed80be, #FA97CF);
  background-image: -ms-linear-gradient(top, #ed80be, #FA97CF);
  background-image: -o-linear-gradient(top, #ed80be, #FA97CF);
  background-image: linear-gradient(to bottom, #ed80be, #FA97CF);
  text-decoration: none;
}

@keyframes entrada {
    from {top: 200px;}
    to {top: 0px;}
}
